# Ignore the SQLite database file
instance/hospital.db

# Ignore any other SQLite databases
*.db

# Ignoring venv
/venv/

# Environment-specific files
.env
*.pyc
__pycache__/

# IDE/project settings
.vscode/
.idea/

# macOS system files
.DS_Store