{% extends "base.html" %}
{% block title %}Register - IITM Hospital{% endblock %}

{% block content %}
<style>
  
  .box { 
    width: 500px; margin: 40px auto; background: #fff; padding: 15px; border: 1px solid #ccc; 
  }
  label { 
    display: block; margin-top: 8px; 
  }
</style>

<div class="box">
  <h3>Add a Department</h3>

  <form action="{{ url_for('add_department') }}" method="post">
    <label for="name">Department Name : </label>
    <input id="name" name="name" type="text" class="w-100 mt-3 mb-2" required>

    <label for="description">Description</label>
    <input id="description" name="description" type="text" class="w-100 mt-3 mb-2" required>
    
    <button type="submit" class="btn btn-success w-100 mt-3">Add Department</button>
  </form>

</div>
{% endblock %}