<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Doctor Dashboard{% endblock %}


{% block content %}
    {% if session.get('role') != 'doctor' %}
        <div class="alert alert-danger" role="alert">
            Unauthorized access. Please <a href="{{ url_for('login') }}">login</a> as a doctor.
        </div>

    {% elif session.get('role') == 'doctor' %}
      <div class="py-4">
        <h1>Hello, {{ session.get('full_name') }}!</h1>
        <p><strong>Email:</strong> {{ session.get('email') }}</p>
        <p><strong>Role:</strong> {{ session.get('role') }}</p>
        HELLO FROM IITM DOCTOR DASHBOARD
      </div>
    {% endif %}
{% endblock %}
