{% extends "base.html" %}

{% block title %}Patient History{% endblock %}

{% block content %}

{% if session.get('role') != 'doctor' %}
    <div class="alert alert-danger">
        Unauthorized access. Please <a href="{{ url_for('login') }}">login</a> as doctor.
    </div>

{% else %}
    <div class="py-3">
        <h2>Patient History for {{ user.full_name }}</h2>
        <p><strong>Patient Name : </strong>{{patient.user.full_name}}</p>
        <p><strong>Patient Blood Group : </strong>{{patient.blood_group}}</p>
        <p><strong>Patient Age : </strong>{{(today -patient.dob).days//365}}</p>
        <p><strong>Patient Contact : </strong>{{patient.user.contact}}</p>

        <h3>Doctor: {{ doctor.user.full_name }}</h3>

        <div class="py-3">
        {% if treatments %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sr no.</th>
                        <th>Treatment Date and Time</th>
                        <th>Diagnosis</th>
                        <th>Prescription</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment,treatment in treatments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ treatment.datetime.strftime('%Y-%m-%d %H:%M %p') }}</td>
                        <td>{{ treatment.diagnosis }}</td>
                        <td><pre>{{ treatment.prescription }}</pre></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No history available for this patient.</p>
        {% endif %}
        </div>
    </div>
{% endif %}

{% endblock %}